@font-face {
  font-family: 'iconfont';  /* Project id 3830696 */
  src: url('https://at.alicdn.com/t/c/font_3830696_egup56g1qou.woff2?t=1675182871538') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3830696_egup56g1qou.woff?t=1675182871538') format('woff'),
       url('https://at.alicdn.com/t/c/font_3830696_egup56g1qou.ttf?t=1675182871538') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e8a0";
}

