@font-face {
  font-family: "iconfont"; /* Project id 3830696 */
  src: url('iconfont.woff2?t=1671284350418') format('woff2'),
       url('iconfont.woff?t=1671284350418') format('woff'),
       url('iconfont.ttf?t=1671284350418') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  
  /* font-size: 1rem; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e8a0";
}

